
.wrapper {

  padding: 50px 150px;
min-height: 100%;
}

html {min-height: 100%;
background-color: #ededed;
background-size: cover;}

.col-12{
  display: inline-block;
  width: 100%;
}
.col-10{
  display: inline-block;
  width:83%;
}

.col-6{
  display: inline-block;
  width:49%;
}

.col-5{
  display: inline-block;
  width:41%;
}

.col-1{
  display: inline-block;
  width:8%;
}

.block{
  display:block;
}

.inline-block{
  display:inline-block;
}

.text {
  display: inline-block;
  font-size: 65px;
  line-height: 73px;
  font-weight: 700;
  margin: 5px;
  padding: 10px;
  font-family: 'Libre Baskerville', serif;
}

.red{color: #f2f2f2; background: #ff4a4a;}
.grey { background: #f2f2f2; color: #ff4a4a; }

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.triangle-right {
  position: fixed;
	width: 0;
	height: 0;
	border-top: 100px solid transparent;
	border-left: 100px solid #ff5e5e;
	border-bottom: 100px solid transparent;
}

.triangle-down {
  position: fixed;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 100px solid #ff4a4a;
}
