html {
  min-height: 100%;
  background-color: #ededed;
  background-size: cover;
}

.wrapper {
  padding-top: 120px;
  min-height: 100%;
}

.col{
  display: block;
  float:left;
  margin-left: 10px;
  margin-right: 10px;
}

.col-12{width: 99%;}
.col-10{width:80%;}
.col-9{width: 72;}
.col-8{width: 64%;}
.col-7{width: 56%;}
.col-6{width:48%;}
.col-5{width:40%;}
.col-4{width:32%;}
.col-3{width:24%;}
.col-2{width:16%;}
.col-1{ width:8%;}

.vspace-25{
  height: 25px;
}
.vspace-50{
  height: 50px;
}

.text {
  display: inline-block;
  font-size: 65px;
  line-height: 73px;
  font-weight: 700;
  margin: 5px;
  padding: 10px;
  font-family: 'Libre Baskerville', serif;
}

.middle{
  background-color: #ff4a4a;
  width: 2px;
  height: 800px;
}

.red{color: #f2f2f2; background: #ff4a4a;}
.grey { background: #f2f2f2; color: #ff4a4a; }

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.left{
  border-right: 25px solid #ff4a4a;
}

.triangle-right {
  position: fixed;
	width: 0;
	height: 0;
	border-top: 100px solid transparent;
	border-left: 100px solid #ff5e5e;
	border-bottom: 100px solid transparent;
}
.triangle-down {
  position: fixed;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 100px solid #ff4a4a;
}




@media only screen and (max-width: 1080px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 95%;
    }

    .right{
      text-align: center;
      padding-top:25px;
    }

    .wrapper{
      padding-top: 50px;
      margin-left: 20px;
      padding-right: 15px;
      border-right: 25px solid #ff4a4a;
  }

    .left{
      border-right: none;

    }
}
